#keep-css{
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 130%);
  height: 100vh;
  margin-top: 0px;
  overflow: hidden;
  padding: 1rem;
  color: rgb(255, 243, 217);
  font: 2vw Inconsolata, monospace;
  text-shadow: 0 0 10px #ffffff;
  text-align: center;
}
#keep-css::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 5px);
  pointer-events: none;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

pre {
  margin: 0;
} 


.animate-heading {
  white-space: pre; 
  overflow: hidden;
  animation: write-heading 4s both;
}
.animate-body {
  white-space: pre;
  overflow: hidden;
  animation: write-block 5s both;
}


@keyframes write-heading {
  from{
    margin-left: 50%;
    width: 0%;
    
  }
  70%{
    margin-left: 0%;
    width: 100%;
    font-size: 2vw;
  }
  80%{

  }
  to {
    font-size: 1vw;
  }
}
@keyframes write-block{
  0%{
    height: 0%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 80%
  }
}
@keyframes write-nav{
  0%{
    padding-bottom:1vmin;
    padding-left:5vmin;
    padding-right:5vmin;
  }
  70%{
    padding-bottom:1vmin;
    padding-left:5vmin;
    padding-right:5vmin;
  }
  100%{

  }
}

#gameDiv {
  font-size: 0.5vmin;
}

#nav-bar{
  padding-left: 20vmin;
  padding-right: 20vmin;
  padding-bottom: 2vmin;
  font-size: 2vmin;
  animation: write-nav 4s both;
}